<div class="jumbotron center">
  <h1>&iexcl;Hola Mota!</h1>
  <h2>Woohooo, a home page.</h2>
  
  <%= link_to "Sign up now!", "", class: "btn btn-lg btn-primary" %>

</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and Sign Up later.
    </h2>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-success btn-sm raised" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and Sign Up later.
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-success btn-sm raised" %></p>
  </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and Sign Up later.
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-success btn-sm raised" %></p>
  </div>
</div>